/* Reset: */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
}

body {
  height: 100%;
  background-color: var(--color-gray-white);
}

ul { list-style-type: none; }

a { text-decoration: none; }

textarea { resize: none; }

fieldset { border: 0; }

button, input[type="submit"] {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

/* ----------------------------------------------------------------------------------- */
/* Default Style */

:root {
  font-size: 14px;

  /* Colors */
  --color-gray-white: #EEEEEE;
  --color-black: #212121;
  --color-blue: #00ADB5;
  --color-green: #19B500;
  --color-mat-purple-dark: #3F3D56;
  --color-cian-darker: #222831;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 48px auto;
  padding: 0 2%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-direction: column;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--color-blue);
  border-radius: 12px;
}

/* ----------------------------------------------------------------------------------- */

@media (min-width: 768px) {
  :root { font-size: 16px; }

  .flex {
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 1280px) {
  :root { font-size: 18px; }
}