/* Banner */
.banner {
    width: 100%;
    background-color: var(--color-cian-darker);
    padding: 48px 4%;
    text-align: center;
}

.banner__img {
    width: 100%;
    max-width: 280px;
    height: 280px;
    border-radius: 50%;
    z-index: 1;
}

.banner-container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner__content {
    width: 100%;
    max-width: 600px;
}

.banner__content__icons {
    width: 32px;
    height: 32px;
    color: var(--color-blue);
    cursor: pointer;
    margin: 0 24px;
    transition: all ease-in .3s;
}

.banner__content__icons:hover {
    color: var(--color-gray-white);
    opacity: 0.8;
}

.banner__content__icons:first-child { margin: 0 24px 0 0; }

.about {
    width: 100%;
    padding: 48px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    background-color: var(--color-gray-white);
}

.about__content {
    padding: 0 6%;
}

.about__img {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
}

/* Skills */
.skills {
    width: 100%;
    padding: 48px 2%;
    background-color: var(--color-cian-darker);
    color: var(--color-gray-white);
    text-align: center;
}

.skills__imgs {
    width: 100%;
    max-width: 42px;
    height: 42px;
    margin: 0 8px;
    display: inline-block;
}

/* Last Acts */
.last-act {
    width: 100%;
    max-width: 500px;
    height: 200px;
    padding: 16px 2%;
    background-color: var(--color-cian-darker);
    border-radius: 12px;
    position: relative;
}

.last-act__desc-box {
    overflow-y: auto;
    width: 80%;
    height: 70%;
}

.last-act__date {
    position: absolute;
    bottom: 18px;
}

.last-act__btn-clone {
    width: 32px;
    height: 32px;
    padding: 6px;
    color: var(--color-blue);
    position: absolute;
    top: 12px;
    right: 12px;
}

.last-act__btn-repo {
    width: 32px;
    height: 32px;
    padding: 6px;
    cursor: pointer;
    background-color: var(--color-blue);
    color: var(--color-gray-white);
    border-radius: 6px;
    position: absolute;
    bottom: 12px;
    right: 12px;
}

.copy-msg {
    width: 100%;
    max-width: 250px;
    height: 32px;
    line-height: 32px;
    border-radius: 12px;
    background-color: var(--color-blue);
    color: var(--color-gray-white);
    text-align: center;
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all ease-out .3s;
}

.copy-msg--active {
  opacity: 1;
  visibility: visible;
}

/* Main Project */
.main-project {
    width: 100%;
    padding: 48px 2%;
    text-align: center;
    background-color: var(--color-cian-darker);
}

.main-project__container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.main-project__project {
    width: 100%;
    max-width: 450px;
    height: 350px;
    background-color: var(--color-mat-purple-dark);
    border: 1px solid var(--color-gray-white);
    padding: 16px;
    display: inline-block;
    position: relative;
    text-align: left;
}

.main-project__box-content {
    overflow-y: auto;
    width: 90%;
    height: 70%;
}

.main-project__repo-link {
    width: 100%;
    max-width: 32px;
    height: 32px;
    color: var(--color-green);
    position: absolute;
    cursor: pointer;
}

.main-project__project-link {
    width: 100%;
    max-width: 32px;
    height: 32px;
    color: var(--color-blue);
    position: absolute;
    right: 16px;
    cursor: pointer;
}

/* Contact */
.contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    padding: 48px 2%;
}

.contact__img {
    width: 100%;
    max-width: 300px;
    background-image: url(../public/imgs/bg-contact.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.contact__form {
    width: 100%;
    max-width: 300px;
}

.contact__label {
    display: block;
    font-weight: bold;
    margin-top: 8px;
}

.contact__input {
    width: 100%;
    height: 32px;
    border-radius: 6px;
    padding-left: 8px;
    border: 1px solid var(--color-blue);
    margin-bottom: 4px;
}

.contact__msg-textarea {
    width: 100%;
    height: 120px;
    padding: 8px;
    border: 1px solid var(--color-blue);
    border-radius: 6px;
    margin-bottom: 4px;
}

.contact__submit {
    width: 120px;
    height: 42px;
    border-radius: 6px;
    background-color: var(--color-blue);
    color: var(--color-gray-white);
    margin-top: 24px;
}

.contact__msg {
    width: 100%;
    position: fixed;
    top: 16px;
    right: 16px;
    padding: 8px;
    border-radius: 6px;
    font-size: 1rem;
    visibility: hidden;
    opacity: 0;
    transition: all ease-out .3s;
    color: var(--color-gray-white);
}

.contact__msg-success {
    max-width: 350px;
    background-color: var(--color-green);
}

.contact__msg-error {
    max-width: 500px;
    background-color: var(--color-red);
}

.contact__msg--active {
    opacity: 1;
    visibility: visible;
}

@media (min-width: 768px) {
    /* Banner */
    .banner {
        text-align: left;
    }

    .banner-container {
        flex-direction: row;
    }

    /* About */
    .about {
        flex-direction: row;
        justify-content: space-between;
    }

    .about__img {
        max-width: 400px;
    }

    /* Act */
    .last-act { height: 280px; }

    /* Contact */
    .contact  {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .contact__img {
        max-width: 500px;
    }
}

@media (min-width: 1280px) {
    /* Contact */
    .contact__form {
        max-width: 500px;
    }

    .contact__input {
        height: 42px;
    }
}

@media (min-width: 1580px) {
    /* About */
    .about__img {
        max-width: 600px;
    }
}